venv/
edges_output.csv
edges_with_daily_counts.csv 
edges.csv
emails.csv
id-email.csv
nodes.csv
edges.csv
final_embeddings.pt
emails_synthetic.csv
nodes-synthetic.csv
edges-synthetic.csv
id-email-synthetic.csv
node_day_recipients_synthetic.csv
modified-emails.csv

